html {
  background: beige;
}
body {
  background: beige;
}

h2 {
	color: brown;
	padding-top: 80px;
	font-weight: bold;
	margin: 10px auto;
	text-align: center;
	display: block;
}

h3 {
  font-size: 30px;
  color: brown;
  font-weight: bold;
  margin-top: 45px;
  text-align: center;
  display: block;
  margin-bottom: -10px;
  margin-right: auto;
  margin-left: auto;
}

h4 {
  font-size: 18px;
  margin-left: 3vw;
}

h6 {
  font-size: 30px;
  margin: 30px 0px 10px 0px;
  color: black;
  font-weight: 500;
  line-height: 32px;
}

img {
  width: 80%;
  margin-top: 10px;
}

form {
  margin: auto;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    background-color: #333;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 16px;
  }

input[type=file] {
  margin: auto;
}

.pictureForm input {
  margin: auto;
}

.pictureForm {
  margin: auto;
}

/*********************Navbar styling************************/
/* Navbar background color */
.navbar.navbar-inverse {
  background-color: #f7a176;
}

.navbar-toggle {
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border: none;
}

.navbar-inverse .navbar-toggle:focus {
	background-color: transparent;
}

.navbar-inverse .navbar-toggle:hover {
	background-color: #f2590d;
}

.navbar-inverse .navbar-toggle:active {
	background-color: #f2590d;
}

.navbar-collapse .navbar-nav > li > a:hover {
	background-color: #f2590d;
}

.navbar-collapse .navbar-nav > li > a:active {
	background-color: #f2590d;
}

.navbar-toggle .icon-bar{
	width: 28px;
}

/* Navbar title */
.navbar-inverse .navbar-brand {
  color: black;
}

/* Focus and hover for navbar title */
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: white;
}

/* Navbar buttons */
.navbar-inverse .navbar-nav > li > a {
  color: black;
}

/* Navbar buttons hover/focus states */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: white;
}

/* Navbar active page button */
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: black;
  background-color: #f2590d;
}

.navbar-nav>li>a{
	padding: 15px 10px;
}

/******************End of navbar styling******************************/

/* Main div */
.main {
  margin: 0 auto;
  width: 75%;
  text-align: center;
  align-items: center;
  position: relative;
  padding-top: 45px;
  padding-bottom: 50px;
  margin-bottom: 30px;
  margin-top: 50px;
  box-shadow: 0 0 10px black;
  background-image: url("images/beigeBackground.jpg");
  min-height: 300px;
}

textarea {
  max-width: 100%;
}

/* Adjusts the components of pages for viewing on a screen less than 800px */
@media all and (max-width: 767px) {
  .main, #page {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
    width: 100vw;
    height: auto;
    padding-bottom: 100px;
  }
  
  .main {
    align-items: center;
    display: flex;
    width: 98vw;
  }

img{
  width: 100%;
}

/* This prevents the navbar from covering content at the top of the page */
body {
  padding-top: 90px; 
}

@media (max-width: 767px) {
  body {
    padding-top: 55px;
  }
}

/* Adjusts the components of pages for viewing on mobile devices */
@media only screen and (max-device-width: 767px) {
  .main, #page {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
    width: 100vw;
    height: auto;
    padding-bottom: 200px;
  }
  h2 {
    font-size: 46px;
  }
  .main {
    align-items: center;
    display: flex;
    width: 98vw;
  }

  img{
    width: 100%;
  }

  /* This prevents the navbar from covering content at the top of the page */
  body {
    padding-top: 90px; 
  }

  @media only screen and (max-device-width: 767px) {
    body {
      padding-top: 55px;
    }
  }
