html {
  background: beige;
}
body {
  background: beige;
}

h2 {
  color: brown;
  padding-left: 20px;
  font-weight: bold;
  margin: 10px auto;
  text-align: center;
  display: block;
}

h3 {
  font-size: 30px;
  color: brown;
  font-weight: bold;
  margin-top: 45px;
  text-align: center;
  display: block;
  margin-bottom: -10px;
  margin-right: auto;
  margin-left: auto;
}

h4 {
  font-size: 18px;
  margin-left: 3vw;
}

h6 {
  font-size: 32px;
  margin: auto;
}

form {
  margin: auto;
}

/*********************Navbar styling************************/
/* Navbar background color */
.navbar.navbar-inverse {
  background-color: #f7a176;
}

.navbar-toggle {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
}

.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-inverse .navbar-toggle:hover {
  background-color: #f2590d;
}

.navbar-inverse .navbar-toggle:active {
  background-color: #f2590d;
}

.navbar-collapse .navbar-nav > li > a:hover {
  background-color: #f2590d;
}

.navbar-collapse .navbar-nav > li > a:active {
  background-color: #f2590d;
}

.navbar-toggle .icon-bar{
  width: 28px;
}

/* Navbar title */
.navbar-inverse .navbar-brand {
  color: black;
}

/* Focus and hover for navbar title */
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: white;
}

/* Navbar buttons */
.navbar-inverse .navbar-nav > li > a {
  color: black;
}

/* Navbar buttons hover/focus states */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: white;
}

/* Navbar active page button */
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: black;
  background-color: #f2590d;
}

.navbar-nav>li>a{
  padding: 15px 10px;
}

/******************End of navbar styling**********************/

/* Main div */
.main {
  margin: 0 auto;
  width: 75%;
  padding: 20px;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 50px;
  font-size: 20px;
  box-shadow: 0 0 10px black;
  background-image: url("images/beigeBackground.jpg");
  min-height: 300px;
}

/******************* Slideshow **********************/
.footer {
  margin: 20px auto auto auto;
  width: 80%;
  box-shadow: 0 0 10px black;
}

/* Adjusts the components of pages for viewing on a screen less than 800px */
@media all and (max-width: 767px) {
  .main, #page {
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
    width: 100vw;
    padding-top: 10px;
    font-size: 20px;
    height: auto;
    padding-bottom: 200px;
  }
  
  .main {
    display: flex;
    width: 98vw;
  }
  .popItems {
    width: 90%;
    height: auto;
    order: 0;
    overflow: auto;
  }
  .twitterFeed {
    padding-top: 30px;
  }
  
} 

.item, .item.active{
  width: 100%;
}

img{
  width: 100%;
}

/* This prevents the navbar from covering content at the top of the page */
body {
  padding-top: 90px; 
}

@media (max-width: 767px) {
  body {
    padding-top: 55px;
  }
}

/* Adjusts the components of pages for viewing on mobile devices */
@media only screen and (max-device-width: 767px) {
  .main, #page {
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
    width: 100vw;
    font-size: 20px;
    padding-top: 10px;
    height: auto;
    padding-bottom: 200px;
  }
  h2 {
    font-size: 46px;
  }
  .main {
    display: flex;
    width: 98vw;
  }
  .popItems {
    width: 90%;
    height: auto;
    order: 0;
    overflow: auto;
  }
  .twitterFeed {
    padding-top: 30px;
  }
  .itemname {
    font-size: 22px;
  }
  .itemprice {
    font-size: 22px;
  }
} 

.item, .item.active{
  width: 100%;
}

img{
  width: 100%;
}

/* This prevents the navbar from covering content at the top of the page */
body {
  padding-top: 90px; 
}

@media only screen and (max-device-width: 767px) {
  body {
    padding-top: 55px;
  }
}


.carousel-slide{
  width: 100%;
  width: 75%;
  margin: auto;
}
