html {
  background: beige;
}
body {
  background: beige;
}

h2 {
	color: brown;
	padding-left: 20px;
	font-weight: bold;
	margin: 10px auto;
	text-align: center;
	display: block;
}
/*********************Navbar styling************************/
/* Navbar background color */
.navbar.navbar-inverse {
  background-color: #f7a176;
}

.navbar-toggle {
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border: none;
}

.navbar-inverse .navbar-toggle:focus {
	background-color: transparent;
}

.navbar-inverse .navbar-toggle:hover {
	background-color: #f2590d;
}

.navbar-inverse .navbar-toggle:active {
	background-color: #f2590d;
}

.navbar-collapse .navbar-nav > li > a:hover {
	background-color: #f2590d;
}

.navbar-collapse .navbar-nav > li > a:active {
	background-color: #f2590d;
}

.navbar-toggle .icon-bar{
	width: 28px;
}

/* Navbar title */
.navbar-inverse .navbar-brand {
  color: black;
}

/* Focus and hover for navbar title */
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: white;
}

/* Navbar buttons */
.navbar-inverse .navbar-nav > li > a {
  color: black;
}

/* Navbar buttons hover/focus states */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: white;
}

/* Navbar active page button */
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: black;
  background-color: #f2590d;
}

.navbar-nav>li>a{
	padding: 15px 10px;
}

/******************End of navbar styling******************************/

/* Main div */
.main {
  margin: 0 auto;
  width: 75%;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-bottom: 30px;
  margin-top: 50px;
  box-shadow: 0 0 10px black;
  background-image: url("images/beigeBackground.jpg");
  min-height: 300px;
}

/*************** Menu Page ******************/
.checkboxes {
	float: left;
    width: 135px;
    border-right: 1px outset grey;
    margin-right: 10px;
    border-bottom: 1px outset grey;
    text-align: left;
    padding-left: 5px;
}

#menu-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-right: 10px;
}


@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.itemimage:hover { 
	opacity: 0.7; 
	cursor: pointer;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}

.imagemodal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.svgmodal-content {
    margin: auto;
    display: block;
    width: auto;
    background: white;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.5s;
}
  


/* The Close Button */
.close {
    position: absolute;
    top: 60px;
    right: 35px;
    color: #f1f1f1;
    font-size: 55px;
    font-weight: 100;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .imagemodal-content .svgmodal-content {
        width: 100%;
    }
}

.itemcard {
	background: #ffe8e2;
	width: 20vw;
	height: 20vw;
	margin-bottom: 20px;
	box-shadow: 0 0 3px grey;
	border-radius: 5px;
}

.itemheader {		
	padding-top: 5px;
}

.itemname {
	float: left;
	padding-left: 4px;
	color: #333333;
	font-family: Copperplate;
	font-size: 24px;
	font-variant: small-caps;
	font-weight: 400;
	line-height: 20px;
}

.itemprice {
	float: right;
	padding-right: 4px;
	color: #333333;
	font-family: Copperplate;
	font-size: 24px;
	font-variant: small-caps;
	font-weight: 400;
	line-height: 20px;
}

.itemimage {    
	width: 14vw;
    margin-top: 2vw;
}

.itemimage img {
	margin-top: 2px;
	border-radius: 12px;
	box-shadow: 2px 2px 35px #888888;
}

.itemdescription {
    float: left;
    text-align: left;
    padding-left: 5px;
    font-size: 16px;
    line-height: 17px;
    padding-top: 5px;
    font-family: Copperplate;
    width: 15vw;
}

.itembuttons {
	float: right;
	width: 25%;
}

.cartbutton {
	border-top-left-radius: 5px;
	border: 1px solid #999;
	margin-top: 0.8vw;

}

.nutritionbutton {
    border-bottom-right-radius: 5px;
    border: 1px solid #999;
    background: url(/images/infoicon.png) 1.3vw 0.4vw no-repeat;
    background-color: #ffd4c9;
    background-size: 2.2vw;
}

/* Set a style for all buttons */
button {
    background-color: #ffd4c9;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 3vw;
    margin-top: 0.3vw;
}

.filterdiv{
	display: none;
}

.filtersdropdown {
	display: none;
    background-color: #ffa993;
    width: 100%;
    overflow: auto;
	box-shadow: 0px 50px 50px 0px rgba(0,0,0,0.2);
    z-index: 1;  
}


/********** 1250 PIXELS ***********/
@media (max-width: 1250px) {
	.itemcard {
		width: 28vw;
		height: 28vw;
	}

	.itemheader {
		padding-top: 2px;
	}

	.itemname {
		float: left;
	    padding-left: 5px;
	    color: #333333;
	    font-family: Copperplate;
	    font-size: 27px;
	    font-variant: small-caps;
	    font-weight: 400;
	    line-height: 27px;
	}

	.itemprice {
		float: right;
		padding-right: 5px;
		color: #333333;
		font-family: Copperplate;
		font-size: 27px;
		font-variant: small-caps;
		font-weight: 400;
		line-height: 27px;
	}

	.itemimage {
	    width: 20vw;
	    margin-top: 2.6vw;
	}

	.itemimage img {
		margin-top: 3px;
		border-radius: 12px;
		box-shadow: 2px 2px 35px #888888;
	}

	.itemdescription {
		float: left;
	    text-align: left;
	    padding-left: 5px;
	    font-size: 16px;
	    line-height: 18px;
	    padding-top: 5px;
	    font-family: Copperplate;
	    width: 18vw;
	}

	.itembuttons {
		float: right;
		width: 25%;
	}

	.cartbutton {
		border-top-left-radius: 5px;
		border: 1px solid #999;
		margin-top: 0.8vw;
	}

	.nutritionbutton {
	    border-bottom-right-radius: 5px;
	    border: 1px solid #999;
	    background: url(/images/infoicon.png) 1.8vw 0.5vw no-repeat;
   		background-color: #ffd4c9;
	    background-size: 3.3vw;
	}

	/* Set a style for all buttons */
	button {
	    background-color: #ffd4c9;
	    color: white;
	    padding: 14px 20px;
	    border: none;
	    cursor: pointer;
	    width: 100%;
	    height: 4.5vw;
	    margin-top: 0.3vw;
	}
}

/********** 1000 PIXELS ***********/
@media (max-width: 1000px) {
	.itemcard {
		width: 26vw;
		height: 26vw;
	}

	.itemname {
		float: left;
		padding-left: 4px;
		color: #333333;
		font-family: Copperplate;
		font-size: 20px;
		font-variant: small-caps;
		font-weight: 400;
		line-height: 21px;
	}

	.itemprice {
		float: right;
		padding-right: 4px;
		color: #333333;
		font-family: Copperplate;
		font-size: 20px;
		font-variant: small-caps;
		font-weight: 400;
		line-height: 21px;
	}

	.itemimage {
		width: 17vw;
	}

	.itemimage img {
		margin-top: 2px;
		border-radius: 12px;
		box-shadow: 2px 2px 35px #888888;
	}

	.itemdescription {
		float: left;
		text-align: left;
		padding-left: 5px;
		font-size: 12px;
		line-height: 15px;
		padding-top: 5px;
		font-family: Copperplate;
		width: 18vw;
	}

	.itembuttons {
		float: right;
		width: 25%;
	}

	.cartbutton {
		border-top-left-radius: 5px;
		border: 1px solid #999;

	}

	.nutritionbutton {
	    border-bottom-right-radius: 5px;
	    border: 1px solid #999;
	    background: url(/images/infoicon.png) 1.5vw 0.5vw no-repeat;
   		background-color: #ffd4c9;
	    background-size: 3.5vw;
	}

	/* Set a style for all buttons */
	button {
	    background-color: #ffd4c9;
	    color: white;
	    padding: 14px 20px;
	    border: none;
	    cursor: pointer;
	    width: 100%;
	    height: 4.6vw;
	    margin-top: 0.3vw;
	}
}

/* Adjusts the components of pages for viewing on a screen less than 800px */
@media all and (max-width: 767px) {
	.checkboxes{
		display: none;
	}

	.itemcard {
		width: 46vw;
		height: 40vw;
		min-width: 295px;
		min-height: 250px;
	}

	.itemname {
		float: left;
		padding: 3px 0px 7px 7px;
	    color: #333333;
	    font-family: Copperplate;
	    font-size: 29px;
	    font-variant: small-caps;
	    font-weight: 400;
	}

	.itemprice {
		float: right;
		padding: 3px 4px 7px 0px;
		color: #333333;
		font-family: Copperplate;
		font-size: 29px;
		font-variant: small-caps;
		font-weight: 400;
	}

	.itemimage {
		width: 26vw;
	}

	.itemimage img {
		margin-top: 2px;
		border-radius: 12px;
		box-shadow: 2px 2px 35px #888888;
		min-width: 163px;
		float: right;
	}

	.itemdescription {
	    float: left;
	    text-align: left;
	    padding-left: 5px;
	    font-size: 18px;
	    line-height: 17px;
	    padding-top: 5px;
	    font-family: Copperplate;
	    width: 34vw;
	    min-width: 215px;
	}

	.itembuttons {
		float: right;
		width: 25%;
	}

	.cartbutton {
		border-top-left-radius: 5px;
		border: 1px solid #999;

	}

	.nutritionbutton {
		border-bottom-right-radius: 5px;
	    border: 1px solid #999;
	    background: url(/images/infoicon.png) 2.9vw 0.7vw no-repeat;
	    background-color: #ffd4c9;
	    background-size: 5.5vw;
	}

	/* Set a style for all buttons */
	button {
	    background-color: #ffd4c9;
	    color: white;
	    padding: 14px 20px;
	    border: none;
	    cursor: pointer;
	    width: 100%;    
	    height: 7.1vw;
    	min-height: 44px;
	    margin-top: 0.3vw;
	}

	.main, #page {
		flex-direction: column;
		justify-content: space-between;
		align-content: center;
		align-items: flex-start;
		width: 100vw;
		padding-top: 0px;
		height: auto;
		padding-bottom: 200px;
	}

	.main {
		display: flex;
		width: 98vw;
	}

	.popItems {
		width: 90%;
		height: auto;
		order: 0;
		overflow: auto;
	}

	.twitterFeed {
		padding-top: 30px;
	}

	} 

	.item, .item.active{
		width: 100%;
	}

	img{
		width: 100%;
	}

	/* This prevents the navbar from covering content at the top of the page */
	body {
		padding-top: 90px; 
	}

	@media (max-width: 767px) {
	body {
		padding-top: 55px;
	}
	
	/* hamburger icon for filters */
	.hamburger--elastic .hamburger-inner {
		top: 2px;
		transition-duration: 0.275s;
		transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); 
	}
	.hamburger--elastic .hamburger-inner::before {
		top: 10px;
		transition: opacity 0.125s 0.275s ease; 
	}
	.hamburger--elastic .hamburger-inner::after {
		top: 20px;
		transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
	}

	.hamburger--elastic.is-active .hamburger-inner {
		transform: translate3d(0, 10px, 0) rotate(135deg);
		transition-delay: 0.075s; 
	}
	.hamburger--elastic.is-active .hamburger-inner::before {
		transition-delay: 0s;
		opacity: 0; 
	}
	.hamburger--elastic.is-active .hamburger-inner::after {
		transform: translate3d(0, -20px, 0) rotate(-270deg);
		transition-delay: 0.075s; 
	}

	.hamburger {
		display: block;
		cursor: pointer;
		transition-property: opacity, filter;
		transition-duration: 0.15s;
		float: left;
    	width: 20%; 
    	background-color: transparent;
    	height: 8vw;
	    min-height: 59px;
    }

	.hamburger:hover {
		opacity: 0.7; 
		background-color: #ffa993;
	}

	.hamburger-box {
		width: 40px;
		height: 24px;
		display: inline-block;
		position: relative; 
	}

	.hamburger-inner {
		display: block;
		top: 50%;
		margin-top: -2px; 
	}
	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
		width: 40px;
		height: 4px;
		background-color: #000;
		border-radius: 4px;
		position: absolute;
		transition-property: transform;
		transition-duration: 0.15s;
		transition-timing-function: ease; 
	}
	.hamburger-inner::before, .hamburger-inner::after {
		content: "";
		display: block; 
	}
	.hamburger-inner::before {
		top: -10px; 
	}
	.hamburger-inner::after {
		bottom: -10px; 
	}

	/* filters */
	.filterdiv{
	    background-color: #ffd4c9;
	    display: block;
	    width: 100%;
	    margin-bottom: 35px;
	}

	.filtertext{
		font-size: 42px;
	    float: left;
	    padding-left: 10px;
	    font-variant: small-caps;
	    font-weight: 400;    
	    color: #555;
	    font-family: Copperplate;
	}

	.show {
		display: table;
    	margin-bottom: 25px;
	}

	.dropdownmarginremover {
		margin-bottom: 0px;
	}

	.filtersdropdown ul {
		list-style-type: none;    
		font-size: 3vw;
	    float: left;
	    padding-top: 10px;
	}

	.filtersdropdown ul li{
		padding-top: 8px;
		cursor: pointer;
	}

	.filtersdropdown ul li:hover {
		color: white;
	}