html {
  background: beige;
}
body {
  background: beige;
}

h2 {
	color: brown;
	padding-left: 20px;
	font-weight: bold;
	margin: 10px auto;
	text-align: center;
	display: block;
}

h3 {
  font-size: 30px;
  color: brown;
  font-weight: bold;
  margin-top: 45px;
  text-align: center;
  display: block;
  margin-bottom: -10px;
  margin-right: auto;
  margin-left: auto;
}

h4 {
  font-size: 18px;
  margin-left: 3vw;
}

h6 {
  font-size: 32px;
  margin: auto;
}

form {
  margin: auto;
}

/*********************Navbar styling************************/
/* Navbar background color */
.navbar.navbar-inverse {
  background-color: #f7a176;
}

.navbar-toggle {
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border: none;
}

.navbar-inverse .navbar-toggle:focus {
	background-color: transparent;
}

.navbar-inverse .navbar-toggle:hover {
	background-color: #f2590d;
}

.navbar-inverse .navbar-toggle:active {
	background-color: #f2590d;
}

.navbar-collapse .navbar-nav > li > a:hover {
	background-color: #f2590d;
}

.navbar-collapse .navbar-nav > li > a:active {
	background-color: #f2590d;
}

.navbar-toggle .icon-bar{
	width: 28px;
}

/* Navbar title */
.navbar-inverse .navbar-brand {
  color: black;
}

/* Focus and hover for navbar title */
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: white;
}

/* Navbar buttons */
.navbar-inverse .navbar-nav > li > a {
  color: black;
}

/* Navbar buttons hover/focus states */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: white;
}

/* Navbar active page button */
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: black;
  background-color: #f2590d;
}

.navbar-nav>li>a{
	padding: 15px 10px;
}

/******************End of navbar styling******************************/

/* Main div */
.main {
  margin: 0 auto;
  width: 75%;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-bottom: 30px;
  margin-top: 50px;
  box-shadow: 0 0 10px black;
  background-image: url("images/beigeBackground.jpg");
  min-height: 300px;
}
.aboutusmain {
  margin: 0 auto;
  width: 75%;
  box-shadow: 0 0 10px black;
  background-image: url("images/beigeBackground.jpg");
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 200px; /* Keep this the smae as .footer's height */
}


/*************** Home page ******************/
.popItems {
  margin: 25px auto auto auto;
  width: 80%;
  box-shadow: 0 0 10px black;
}

.dealOfDay {
  margin: 35px auto auto auto;
  max-width: 450px;
  box-shadow: 0 0 10px black;
  width: 80%;
}

.itemdescription {
  font-size: 21px;
  line-height: 20px;
  padding-top: 7px;
}

.dealbuttons {
  width: 45%;
}

.cartbutton {
  background-color: #ffd4c9;
  height: 60px;
  border: 1px solid #999;
}

.nutritionbutton {
  border: 1px solid #999;
  height: 60px;
  background: url(/images/infoicon.png) 1.8vw 0.5vw no-repeat;
  background-color: #ffd4c9;
  background-size: 50px;
  background-position: center;
}

.itembuttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.itemname {
  float: left;
  padding-left: 4px;
  color: #333333;
  font-family: Copperplate;
  font-size: 35px;
  font-variant: small-caps;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 10px;
}

.itemprice {    
  float: right;
  padding-right: 4px;
  color: #333333;
  font-family: Copperplate;
  font-size: 35px;
  font-variant: small-caps;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 10px;
}

.itemimage:hover { 
  opacity: 0.7; 
  cursor: pointer;
}

.modals {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0,0,0,0.4); 
}

.imagemodal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.svgmodal-content {
  margin: auto;
  display: block;
  width: auto;
  background: white;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.5s;
}
  
/* The Close Button */
.close {
  position: absolute;
  top: 60px;
  right: 35px;
  color: #f1f1f1;
  font-size: 55px;
  font-weight: 100;
  transition: 0.3s;
  opacity: 0.9;
  text-shadow: 0 2px 0 #000;
  color: #FFF;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.twitterFeed {
  margin: 35px auto 100px auto;
  width: 80%;
  box-shadow: 0 0 10px black;
}

.filterlabels {
  font-weight: normal;
}

/******************* Slideshow **********************/
.footer {
  margin: 20px auto auto auto;
  width: 80%;
  box-shadow: 0 0 10px black;
}

/* Adjusts the components of pages for viewing on a screen less than 800px */
@media all and (max-width: 767px) {
  .main, #page {
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
    width: 100vw;
    padding-top: 10px;
    height: auto;
    padding-bottom: 200px;
  }
  
  .main {
    display: flex;
    width: 98vw;
  }
  .popItems {
    width: 90%;
    height: auto;
    order: 0;
    overflow: auto;
  }
  .twitterFeed {
    padding-top: 30px;
  }
  
} 

.item, .item.active{
  width: 100%;
}

img{
  width: 100%;
}

/* This prevents the navbar from covering content at the top of the page */
body {
  padding-top: 90px; 
}

@media (max-width: 767px) {
  body {
    padding-top: 55px;
  }
}

/* Adjusts the components of pages for viewing on mobile devices */
@media only screen and (max-device-width: 767px) {
  .main, #page {
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
    width: 100vw;
    padding-top: 10px;
    height: auto;
    padding-bottom: 200px;
  }
  h2 {
    font-size: 46px;
  }
  .main {
    display: flex;
    width: 98vw;
  }
  .popItems {
    width: 90%;
    height: auto;
    order: 0;
    overflow: auto;
  }
  .twitterFeed {
    padding-top: 30px;
  }
  .itemname {
    font-size: 22px;
  }
  .itemprice {
    font-size: 22px;
  }
} 

.item, .item.active{
  width: 100%;
}

img{
  width: 100%;
}

/* This prevents the navbar from covering content at the top of the page */
body {
  padding-top: 90px; 
}

@media only screen and (max-device-width: 767px) {
  body {
    padding-top: 55px;
  }
}


.carousel-slide{
  width: 100%;
  width: 75%;
  margin: auto;
}

/*************** Registration *****************/
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button.dotdcheckout {
    background-color: #ffd4c9;
    height: 60px;
    border: 1px solid #999;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
    font-size: 19px;
    padding: 0px 5px 0px 5px;
    color: black;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {	
    width: 45%;
    margin: 15px;
}

/* Add padding to container elements */
.registrationContainer {
    padding: 16px;
	background-color: #f5e2db;
	width: 75%;
    margin: 0 auto;
    border-radius: 25px;
}

/* Clear floats */
.formButtons::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 689px) {
    .cancelbtn, .signupbtn {
       width: 95%;
    }
}

/**************** Login ********************/
.form-signin {
    max-width: 700px;
    padding: 15px;
    margin: 0 auto;
    color: #000;
}
         
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
         
.form-signin .checkbox {
	font-weight: normal;
}
         
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
         
.form-signin .form-control:focus {
	z-index: 2;
}
         
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
  border-color:#017572;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
         
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-color:#017572;
}

.seperator {
    display: block;
    margin-bottom: 10px;
    margin-left: 10.5%;
    margin-right: 10.5%;
    margin-top: 10px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    width: 79%;
	border-top: solid 1px black
}

.login-container {
	padding: 22px 108px 26px;
	width: 700px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#SignUp {
	width: 75%;
	margin: 0 auto;
	display:block;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

@media only screen and (max-device-width: 689px) {
  .login-container {
    width: 95%;
    padding: 5px 10px 15px 10px;
  }
}
