html, body {
  height: 100%;
  margin: 0;
}

h2 {
  color: brown;
  padding-left: 20px;
  font-weight: bold;
}
/*********************Navbar styling************************/
/* Navbar background color */
.navbar.navbar-inverse {
  background-color: #f7a176;
}

/* Navbar title */
.navbar-inverse .navbar-brand {
  color: black;
}

/* Focus and hover for navbar title */
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: white;
}

/* Navbar buttons */
.navbar-inverse .navbar-nav > li > a {
  color: black;
}

/* Navbar buttons hover/focus states */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: white;
}

/* Navbar active page button */
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: black;
  background-color: #f2590d;
}
/******************End of navbar styling******************************/

/* Main flexbox div, other divs inside are flexible to changes in screen size */
.main {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
  width: 100vw;
  padding-top: 10px;
  height: 100%;
  padding-bottom: 200px; /* Keep this the smae as .footer's height */
}

/*************** Home page ******************/
.popItems {
  width: 30%;
  box-shadow: 0 0 10px black;
  order: 1;
  flex-basis: auto;
}

.dealOfDay {
  width: 30%;
  box-shadow: 0 0 10px black;
  order: 2;
  flex-basis: auto;
}

.twitterFeed {
  width: 30%;
  box-shadow: 0 0 10px black;
  order: 3;
  flex-basis: auto;
}

/******************* Slideshow **********************/
.footer {
  height: 200px;
}

/******************* About us page ******************/
.aboutuspicture {
  order: 1;
  flex-basis: auto;
  box-shadow: 0 0 10px black;
}

.aboutus {
  top: 50px;
  background-color: brown;
  color: white;
  padding: 40px;
  overflow: auto;
  order: 2;
  flex-basis: auto;
  box-shadow: 0 0 10px black;
  font-size: 25px;
}

/* Header of about us block */
.aboutusheader {
  font-size: 45px;
  padding-bottom: 5px;
}
/* Adjusts about us page based on different screen widths */
@media all and (min-width: 800px){
  .aboutus, .aboutuspicture {
    width: 390px;
    height: 390px;
    font-size: 15px;
  }
  .aboutusheader {
    font-size: 30px;
  }
}
@media all and (min-width: 1000px) {
  .aboutus, .aboutuspicture {
    height: 490px;
    width: 490px;
    font-size: 20px;
  }
  .aboutusheader {
    font-size: 35px;
  }
}
@media all and (min-width: 1200px) {
  .aboutus, .aboutuspicture {
    font-size: ;
    height: 590px;
    width: 590px;
    font-size: 25px;
  }
  .aboutusheader {
    font-size: 40px;
  }
}

/************** Locations/Contact Us Page *********/
.contact {
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  width:75%;
}
#map {
  height: 400px;
  margin: 0 auto;
}
#loctwitter {
  height: 400px;
  margin: 0 auto;
}

/* Adjusts the components of pages for viewing on a screen less than 800px */
@media all and (max-width: 800px) {
  .main, #page {
    flex-direction: column;
  }

  .main {
    width: 98vw;
  }

  .popItems, .dealOfDay, .twitterFeed, .aboutus, .aboutuspicture {
    /* Return them to document order */
    order: 0;
    width: 98vw;
    height: 98vw;
  }
  
} 



.item, .item.active{
  width: 100%;
}

img{
  width: 100%;
}

/* This prevents the navbar from covering content at the top of the page */
body {
  padding-top: 55px; 
  background-image: url("beigeBackground.jpg");
}

@media (max-width: 800px) {
  body {
    padding-top: 55px;
  }
}

.carousel-slide{
  width: 100%;
  width: 75%;
  margin: auto;
}